mixin meetingsListItem (title, image, alt)
    li.meetings__list-item
        p.meetings__item-title= title
        img.meetings__item-img(src= image, alt= alt)

mixin catalogListItem (title, image)
    li.slider__item(class="card")
        button.card__btn
            .card__image-wrapper
                img.card__image(, src= image, alt= title, draggable="false")
            p.card__title(class="hover-dark-text")= title

mixin priceItem (title, count, price2h, price6h, extraClass)
    li.prices__item(class= extraClass)
        h3.prices__card-title Пакет
            span.prices__price-title= title
        .prices__card-container
            p.prices__count= count
            .prices__col-container
                .prices__col
                    .prices__hours 2 часа
                    .prices__price= price2h
                .prices__col
                    .prices__hours 6 часов
                    .prices__price= price6h
        button.prices__card-btn Заказать

mixin deliveryCardItem (image, text, alt)
    li.delivery__card
        .delivery__image-container
            img.delivery__card-image(src= image, alt= alt)
        p.delivery__card-text= text